/bin/
/target/
/class/org/xper/allen/ga3d/blockgen/GA3DLineageBlockGenerator.java~HEAD
/src/org/xper/allen/ga3d/blockgen/GA3DLineageBlockGenerator.java~HEAD
/class/org/xper/allen/nafc/blockgen/psychometric/PsychometricStim.java~HEAD
/src/org/xper/allen/nafc/blockgen/psychometric/PsychometricStim.java~HEAD
/test/class/org/xper/allen/nafc/blockgen/psychometric/PsychometricStimIntegrationTest.java~HEAD
/test/integration-tests/org/xper/allen/nafc/blockgen/psychometric/PsychometricStimIntegrationTest.java~HEAD
/test/class/testBin/0_noisemap_Noise.png
/test/class/testBin/0_Stim.png
/test/class/testBin/0_Stim_comp.txt
/test/class/testBin/0_Stim_face.txt
/test/class/testBin/0_Stim_norm.txt
/test/class/testBin/0_Stim_spec.xml
/test/class/testBin/0_Stim_vert.txt
/test/class/testBin/-1_Base.png
/test/test-resources/testBin
/test/class/